@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #000000;
    text-align: center;
}

.nav-link {
    color: rgba(17, 16, 16, 0.845);
}
p{
    color: #000000;
}
nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 3.5rem;
    background-color: #80d8cc;
    box-shadow: 0 3px 5px rgba(237, 233, 233, 0.1);
    color: #020202;
    font-size: large;
}

img {
    height: 70%;
    width: 12%;
}

.title {
    font-family: 'Roboto Mono', monospace;
    color: rgb(0, 0, 0);
}


.galeria {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.galeria img {
    max-width: 400px;
    padding: 1rem;
}

.subtitle {
    font-family: 'Poppins', sans-serif;
    color: rgb(0, 0, 0);
}

.centrado {
    text-align: center;
}

header {
    background-color: #80d8cc;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 2rem;
    width: auto;
}

.logo-header img {
    width: 118px;
    height: 120px;
}

formulario {
    width: auto;
    height: auto;
    margin: auto;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #d7d2d2;
    padding-left: 15px;
    color: #000000;
}

input {
    background-color: #fbfbfb;
    width: 250px;
    height: 35px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #adbeeb;
    margin-top: 10px;
    padding-left: 15px;
    margin-bottom: 20px;
}

textarea {
    background-color: #cf4545;
    width: 405px;
    height: 100px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #6d84cf;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    padding-top: 15px;
}

label {
    display: block;
    float: center;
    color: hsl(0, 0%, 100%);
}


button {
    height: 45px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    background-color: #f0f0f3;
    border-color: #000000;
    border-style: solid;
    border-radius: 10px;
    width: 150px;
    cursor: pointer;
}

@media screen and (min-width: 414px) and (max-width: 896px) {
    .navbar {
        background-color: darkorchid;
        width: 100%;
        height: 10vh;
    }
}

@media screen and (min-width: 899px) and (max-width:1440px) {
    .navbar {
        background-color: #acbcdf;
        width: 100%;
        height: 10vh;
    }

}
