body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
}

.nav-link {
  color: rgba(17, 16, 16, 0.845);
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 3.5rem;
  background-color:  #80d8cc;
  box-shadow: 0 3px 5px rgba(237, 233, 233, 0.1);
  color: #020202;
  font-size: large;
}

img {
  height: 70%;
  width: 12%;
}

.title {
  font-family: 'Montserrat', sans-serif;
  color: rgb(0, 0, 0);
}


.galeria {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.galeria img {
  max-width: 400px;
  padding: 1rem;
}

.subtitle {
  font-family: 'Montserrat', sans-serif;
  color: rgb(0, 0, 0);
}

.centrado {
  text-align: center;
}

header {
  background-color: #80d8cc;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 2rem;
}

.logo-header img {
  width: 118px;
  height: 120px;
}

.nav-menu ul {
  display: flex;
  align-items: center;
}

.nav-menu li {
  margin-right: 1rem;
}

.nav-menu a {
  color: #000000;
}

.nav-menu li:last-child {
  background: #4ad295;
  padding: .25rem .75rem;
  border-radius: .2rem;
}

.menu-icon img {
  width: 50px;
  height: 100px;
  border-radius: 2px;
}

.menu-icon,
#check {
  display: none;
}

@media (max-width:768px) {
  .checkbtn {
    display: block;
  }

  .menu-icon {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }

  .nav-menu ul {
    display: block;
    position: fixed;
    top: 70px;
    left: -100%;
    background: #222;
    width: 100%;
    height: 100vh;
    right: 0;
  }

  .nav-menu ul li {
    padding: 2rem;
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .nav-menu ul li:last-child {
    background: none;
    padding: 1rem;
  }

  #check:checked~ul {
    left: 0;
    transition: all .25s;
  }
}

.btn-page {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-weight: 500;
  text-transform: uppercase;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  background-color: #80d8cc;
}

@media screen and (min-width: 414px) and (max-width: 668px) {
  .navbar {
    background-color: darkorchid;
    width: 100%;
    height: 10vh;
  }
}

@media screen and (min-width: 669px) and (max-width:1440px) {
  .navbar {
    background-color: #acbcdf;
    width: 100%;
    height: 10vh;
  }

}

.fila {
  flex-direction: row;
  justify-content: space-between;
}

* {
  box-sizing: border-box;
}

.columna {
  float: left;
  width: 50%;
  padding-right: 5px;
}

.fila::after {
  content: "";
  clear: both;
  display: table;
}

img {
  /* Para que sea responsiva */
  width: 35%;
}
