@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
}
.art2{
  width: 100%;
}
nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 3.5rem;
  background-color: #80d8cc;
  box-shadow: 0 3px 5px rgba(237, 233, 233, 0.1);
  color: #020202;
  font-size: large;
}

img {
  height: 70%;
  width: 12%;
}


.title {
  font-family: 'Roboto Mono', monospace;
  color: rgb(0, 0, 0);
  font-size: xx-large;
}


.galeria {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.galeria img {
  max-width: 400px;
  padding: 1rem;
}

.subtitle {
  font-family: 'Roboto Mono', monospace;
  color: rgb(0, 0, 0);
  font-size: xx-large;
}

.subtitle-menu {
  font-family: 'Roboto Mono', monospace;
  color: #000000;
}

.centrado {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  background-color: #80d8cc;
  color: #fff;
  display: flex;
  align-items: center;
  padding: .5rem 2rem;
  justify-content: space-between;
  flex-direction: row;
 
}

.logo-header img {
  width: 118px;
  height: 120px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .navbar {
    background-color:darkorchid;
    width: 100%;
    height: 10vh;
  }
}

@media screen and (min-width: 1025px) and (max-width:1440px) {
  .navbar {
    background-color: #acbcdf;
    width: 100%;
    height: 10vh;
  }

}

a{
  display: block;
}

.fila {
  flex-direction: row;
  justify-content: space-between;
}

* {
  box-sizing: border-box;
}

.columna {
  float: left;
  width: 50%;
  padding-right: 5px;
}

.fila::after {
  content: "";
  clear: both;
  display: table;
}

img {
  /* Para que sea responsiva */
  width: 35%;
}

p {
  margin: 30px 100px 10px 100px;
  justify-content: center;
  display: block;
}
